button{
    
    margin-top: 30px;
    padding: 8px;
    width: 90px;
    padding: 10px;
    box-shadow: black 2px 2px 2px 1px ;
    border: solid 1px rgb(53, 53, 53);
    background-color: rgb(74, 74, 87);
    font-weight: bold;
    color: aliceblue;
    font-size: 15px;
    border-radius: 30px;
    
   }

button:hover {
    background-color: rgb(110, 110, 110);
    color:aliceblue;
}